%h3
  Players

-@match.clans.each do |clan|
  %h4= clan.name
  %ul
    -@participations[clan.id].each do |participation|
      %li
        %strong
          =participation.player.name
        picked
        %strong
          =participation.champion.name


